


  <form method="post" action="/articles/<%= @article.id %>">

    <input id= "hidden" type="hidden" name="_method" value="PATCH" />
    
    <h1> <%= @article.title %> </h1>
      <%= @article.content %>
      
      <input for="title" type="text" name="title" value="<%= @article.title %>">

      <input id="content" type="text" name="content" value="<%= @article.content %>">

      <input type="submit" value="edit"/>

      </form>
